* text=auto

*.py text eol=lf
*.dh text eol=lf
*.c text eol=lf
*.h text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.iss text eol=lf
*.spec text eol=lf
*.svg text eol=lf

*.png binary
*.ico binary
*.wav binary

